<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- vo -->
		<typeAlias type="com.useful.web.domain.vo.MsgResultVO" alias="MsgResultVO"/>
		
		<!-- dto -->
		<typeAlias type="com.useful.web.domain.dto.ChatDTO" alias="ChatDTO"/>
		
		<!-- util -->
		<typeAlias type="java.util.HashMap" alias="HashMap"/>
		
	</typeAliases>
</configuration>